version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: Villa_Bistro_db
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: caixa_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: